{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        ゲームの説明を書く

        ①自身の役割
        特定の製品販売を担当する営業課長
        
        ②タスク内容
        広告宣伝費と品質改善費に10の予算を毎月割り振る。
        予算の割り振りによって当月の売上高と次月の売上高が影響をうける。
        売上高は当月の意思決定の後、即座にフィードバックされる。
        あなたは月次の意思決定を5年、60ヶ月行う中で、予算の割り振りと、それによって決まる売上高の推移を観察しながら、売上高が最大になるような割り振りを発見することを目指す。

        ③報酬の決まり方
        60ヶ月全期間の売上高の平均に基づいて報酬が支払われる。
    </p>
    <p>
       最初に練習ラウンドを12回行います。
    </p>
    </div>
</div>

